@font-face {
  font-family: 'Klavika Basic';
  src: url('/fonts/klavika-basic-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  font-family:
    'Klavika Basic',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif !important;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family:
    'Klavika Basic',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f3ff;
}

#root {
  min-height: 100vh;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}