@font-face {
  font-family: 'Klavika Basic';
  src: url('/fonts/klavika-basic-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'nbrb';
  src:
    url('/fonts/nbrb.woff2') format('woff2'),
    url('/fonts/nbrb.ttf') format('truetype'),
    url('/fonts/nbrb.woff') format('woff');
  unicode-range:
    U+E901,
    U+42,
    U+59,
    U+4E;
  font-display: swap;
}

.nbrb-icon {
  font-family: 'nbrb' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga=1';
  -moz-font-feature-settings: 'liga';
  -ms-font-feature-settings: 'liga' 1;
  font-feature-settings: 'liga';
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
}

.nbrb-icon-byn:before {
  content: '\e901';
}

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family:
    'Klavika Basic',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #f5f3ff;
}

#root {
  min-height: 100vh;
}
